@import "bootstrap/scss/bootstrap.scss";
@import "../../styles/variables";


.sessions-page-wrapper {
    padding: 0 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 60%;
}


@include media-breakpoint-down(sm) {
    .sessions-page-wrapper {
        width: 100%;
    }
}
