@import "../../styles/variables";
@import "bootstrap/scss/bootstrap.scss";

.session-details-wrapper {
    background-color: $backgroundSecondaryColor;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
        font-weight: 500;
    }

    .session-details-item, .session-details-items {
        display: flex;
        gap: 10px;
    }

    .session-details-items {
        flex-direction: column;
    }
}

.active-session {
    cursor: pointer;
}


@include media-breakpoint-down(sm) {
    .session-details-wrapper {
       
    }
}
