@import "../../styles/variables";


.nav-panel-wrapper {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: $backgroundSecondaryColor;
    padding: 5px 20px;
    align-items: center;
    gap: 30px;
    position: sticky;

    .logo {
        margin-right: 30px;
    }

    img {
        width: 36px;
        height: 36px;
    }

    .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        border-radius: 5px;

        img {
            cursor: pointer;
        }
    }

    .active {
        background-color: $backgroundActiveItemColor;
    }

    .logout {
        margin-left: auto;
    }
}