@import "./variables";
@import "bootstrap/scss/bootstrap.scss";

.notifications-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.MuiFormLabel-root,
.MuiInputBase-input {
    color: $fontWhite !important;
}

.MuiSvgIcon-root {
    fill: #fff !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #fff !important;
}

.Mui-disabled {
    -webkit-text-fill-color: unset !important;
}

.session-details-wrapper {
    background-color: $backgroundSecondaryColor;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
        font-weight: 500;
    }

    .session-details-item, .session-details-items {
        display: flex;
        gap: 10px;
    }

    .session-details-items {
        flex-direction: column;
    }
}

.available-session {
    cursor: pointer;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}

@include media-breakpoint-down(sm) {
    .notifications-wrapper {
        right: unset;
        width: 100%;
        align-items: center;
        padding: 0 10px;
    }
}
