// background colors
$backgroundPrimaryColor: #43506c;
$backgroundSecondaryColor: #4e586e;
$backgroundSuccessColor: #198754;
$backgroundErrorColor: #dc3545;

$backgroundActiveItemColor: #264283;

// text colors
$fontWhite: #fff;

// extra colors
$primaryLightColor: #ef484c;
$primaryBlueColor: #3d619b;
