@import "bootstrap/scss/bootstrap.scss";
@import "../../styles/variables";


.home-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


@include media-breakpoint-down(sm) {
    .home-page-wrapper {
        
    }
}
