@import "bootstrap/scss/bootstrap.scss";
@import "../../styles/variables";


.settings-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


@include media-breakpoint-down(sm) {
    .settings-page-wrapper {}
}
