@import "bootstrap/scss/bootstrap.scss";
@import "../../styles/variables";


.sessions-date-filters-wrapper {
    display: flex;
    gap: 10px;
    width: 100%;

    .MuiFormControl-root {
        width: 100%;
    }
}


@include media-breakpoint-down(sm) {
    .sessions-date-filters-wrapper {
        flex-direction: column;
    }
}
