@import "../../styles/variables";



.settings-section-wrapper {
    background-color: $backgroundSecondaryColor;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
        font-size: 18px;
        font-weight: 500;
    }

    .sub-title {
        font-size: 16px;
        font-weight: 400;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            background-color: $primaryBlueColor;
        }
    }
}
